:root {
    --background: #2F649A;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #EFEBE5;
    color: #EFEBE5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }

  
/* Header Bar*/
  header {
    background: var(--background);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .top-logo {
    margin: 0;
    padding: 15px;
    width: 270px;
  }

  .nav-toggle {
    display: none;
  }
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 500ms ease-out;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  nav a {
    color: #EFEBE5;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 200ms ease-out;
    
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
    
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 300ms ease-out 400ms;
  }

  nav a:hover {
    color: #F0E0B4;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #F0E0B4;
  height: 3px;
  width: 2em;
  border-radius: 10px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {

  content: "";

}

.nav-toggle-label span::before {
  
  bottom: 9px;
}


.nav-toggle-label span::after {
  
  top: 6px;
}
 
@media screen and (min-width: 1400px){
    .nav-toggle-label {
      display: none;
    }
    
    header{
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr);
      padding: 0 8% 0 4%;
    }
    
    .top-logo {
      grid-column: 2/3;
    }
    
    nav {
      all:unset;
      grid-column: 3/4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul{
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    nav a::before {
      content:"";
      display: block;
      height: 3px;
      background: #F0E0B4;
      position: absolute;
      border-radius: 10px;
      top: -.5em;
      left: 0;
      right: 0;
      transform: scale(0,1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }
  /*End of Header Bar */

/*Hero Image*/

.hero-image {
  height: 100vh;
  background-image: url("../images/hero1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero1{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.about-image {
    height: 100vh;
    background-image: url("../images/hero2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero1{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.getinvoled-image {
  height: 100vh;
  background-image: url("../images/hero3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero1{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.contact-image {
  height: 100vh;
  background-image: url("../images/hero4.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero1{
  width: 100%;
  height: 100%;
  background-size: cover;
}

/*Hero Text*/

.hero-text{
  font-size: 1.5em;
  width:100%;
  padding: 0 400px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 1.7em;
  z-index: 5;
  text-shadow: 2px 2px 6px black ;
}
/* Button */
.donate-button{
  font-size: 1.2em;
  color: #EFEBE5;
  background: #50A2F5;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

/*Skyline*/

.skyline{
  height: 100vh;
  background-image: url("../images/philly_skyline_blue.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.our-mission{
  width:100%;
  padding: 0 300px;
  text-align: center;
  text-shadow: 2px 2px 6px black ;
}

.skyline-text{
  width:100%;
  padding: 0 400px; 
  text-align: center;
  line-height: 1.7em;
  text-shadow: 2px 2px 6px black ;
}

/*Cards Section*/

.cards-section{
  display: flex;
  align-items: flex;
  flex-direction: column;
}

.cards{
  margin: 100px auto;
  background: var(--background);
  width: 80%;
  height: 300px;
  display: flex;
}

.cards-reverse{
  margin: 100px auto;
  background: var(--background);
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
}

.card-image {
width: 50%;
}
/* Home Page images */
.card-image1 {
  background-image: url("../images/about_us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  

}

.card-image2 {
  background-image: url("../images/get_involed_programs.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.card-image3 {
  background-image: url("../images/donate_contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}



/* About Us Images */


.about-cards{
  margin: 100px auto;
  background: var(--background);
  width: 70%;
  height: auto;
  display: flex;
  border-radius: 145px 0 100px 0;
}

.people-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
  
}


.card-content {
  width: 50%;
  text-align: center;
  padding: 20px 30px;
}



/* SEE MORE Button */
.see-more-button{
  font-size: 0.8em;
  color: var(--background);
  background: #F0E0B4;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  align-items: flex;
  margin-top: 20px;
}


/* Get Involved Cards */

.get-involed-cards-section{
  display: flex;
  align-items: flex;
  flex-direction: column;
}

.get-involed-cards{
  margin: 100px auto;
  background: var(--background);
  width: 80%;
  height: 300px;
  display: flex;
}

.program-images{
  width: 50%;
}

.program-image1 {
  background-image: url("../images/adopt_a_block.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.program-image2 {
  background-image: url("../images/food_distribution.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.program-image3 {
  background-image: url("../images/shine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-involed-card-content {
  width: 50%;
  text-align: center;
  padding: 20px 30px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
}


/* Contact Form */

.contact-form {
  height: 100vh;
  background-image: url("../images/philly_skyline_blue.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
    
}



form {
  width: 500px;
  background: #2F649A;
  padding: 35px;
  margin-top: 20vh /*vh stands for view height*/;
  margin-bottom: 20vh;
  box-shadow: color,black 0 0 4px;
  
}

input{
  width: 100%;
  
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
  display: block;
  max-height: 400px;
  width: 100%;
  overflow: hidden; 
  
}

input, textarea{
  outline: none;
  border: none;
  border: 1px solid #2F649A;
  margin: 10px;
  font-size: 1em;
  background-color: #EFEBE5;
  
  
}


input:focus, textarea:focus {
  box-shadow: 0 0 4px;
  background: #ddd;
}

::placeholder {
  color: #2F649A;
  font-size: 0.8em;
  opacity: .25;
}

.submit-button{
  display: block;
  padding: 10px 30px;
  outline: none;
  border-radius: 25px;
  margin: 20px auto;
  border:none;
  color: #2F649A;
  background-color: #EFEBE5;
  
}

submit-button:hover {
  background-color: #575757;
}

/* Footer */
footer {
	width:100%;
	padding:100px 0;
  float: left;
	text-align: center;
  background-color:var(--background);
}

footer a:link {
	color:#F0E0B4;
	text-decoration: none;
}

footer a:visited {
	color:#F0E0B4;
	text-decoration: none;
}
footer a:hover {
	color:#4392E0;
	text-decoration: none;
}
footer a:active {
	color:#ffffff;
	text-decoration: none;
}

.copyright {
  width:100%;
} 

.fa-facebook,
.fa-twitter,
.fa-instagram {
	font-size: 2em;
	margin: 20px 5px 0 5px;
	color: #B2CDEA;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
	color: #F0E0B4;
}
